<ion-view view-title="Forgot password" class="signin" >
<div class="bar bar-header pinro-header header-shadow">
 <button class="button button-icon icon ion-ios-arrow-back" ui-sref="signin"></button>
  <div class="h1 title">Forgot Password</div>
</div>
	<ion-content class="has-header forgot-password">

<form name="resetPasswordForm" novalidate>

<h5 class="light-font">We will send reset link to your email address. </h5>

		<div class="signin-input-holder">

			<ion-list>
				<ion-item class="item-input ">
					<i><img src="img/icons/icon_email.svg"></i>
					<input type="text" placeholder="Email or username" ng-model="user.user_login" required>

				</ion-item>
			</ion-list>

		</div>

		<div class="footer-button">
			<h5 class="color-grapefruit m-t-b-0" ng-show="resetError"> {{resetError}}</h5>
			<h5 class="color-balance m-t-b-0" ng-show="resetSuccess"> {{resetSuccess}}</h5>

			<div class="animated bounceIn">
			<button class="button button-dark button-block button-round "  ng-if="!resetSuccess" ng-disabled="resetPasswordForm.$invalid || disableSubmit" ng-click="resetPassword(user)">Reset Password</button>
			<button class="button button-balance button-block button-round" ng-if="resetSuccess" ui-sref="signin">Go to Login</button>
			</div>
		</div>
		</div>


</form>
	</ion-content>
</ion-view>