<ion-view view-title="Onboarding" class="onboarding" hide-nav-bar="true" scroll="false" cache-view="false">

	<ion-pane>

		<div class="image-slider-holder">
            <div class="animate"> <img src="img/banner3x.jpg">
</div>
		</div>

        <div class="bottom">
          <!--  <img class="animated fadeIn" src="img/p-i-n-r-o.svg" width="100px">-->
	    <img class="animated fadeIn" src="img/l5.png" width="200px">
            <ion-slides slider="slider">
                <ion-slide-page>
                    <h5>MIN Baazaar is an one stop solution for getting all the Indian products ranging from Electronic to Pooja items.</h5>
                </ion-slide-page>
                <ion-slide-page>
                    <h5>All on one platform. Discovering forthcoming trends and news in fashion, art, music, and culture.</h5>
                </ion-slide-page>
                <ion-slide-page>
                    <h5>MIN Baazaar is an one stop solution for getting all the Indian products ranging from Electronic to Pooja items.</h5>
                </ion-slide-page>
                <ion-slide-page>
                    <h5>All on one platform. Discovering forthcoming trends and news in fashion, art, music, and culture.</h5>
                </ion-slide-page>
                
            </ion-slides>
        </div>

                <button class="button button-light button-icon skip-button animated fadeInRight" ui-sref="signin" ><img src="img/icons/icon_arrow.svg"></button>


	</ion-pane>
</ion-view>
