<ion-modal-view ng-controller="SettingsCtrl" class="settings">

<ion-header-bar class="pinro-header header-shadow">
    
      <button class="button button-clear text-button" ng-click="closeChangePasswordModal()">Close</button>
  
    <h1 class="title">Settings</h1>
  </ion-header-bar>


<div ng-include="'templates/common/loading.html'" ng-show="loading"></div>

 <form name="changePasswordForm"  novalidate >
        
	<ion-content>

<ion-list>

   
    
    <ion-item class="item-divider">
        Change Password
    </ion-item>
    <!--<ion-item class="item-input ">
        <span class="input-label">New</span>
        <input type="password" ng-model="user.password" required>
    </ion-item>
    <ion-item class="item-input " ng-class="{'has-errors': user.password != confirm_pass}">
        <span class="input-label">Retype</span>
        <input type="password" ng-model="confirm_pass" required>
    </ion-item>-->
    

    
    <ion-item class="item-input ">
					<span class="input-label">New</span>
					<input type="password" name="new_password" placeholder="********" ng-model="user.password" required>

				</ion-item>
				<ion-item class="item-input " ng-class="{'has-errors': changePasswordForm.confirm_pass3.$error.match}">
					<span class="input-label">Retype</span>
					<input type="password" name="confirm_pass3"  placeholder="********" ng-model="confirm_pass" ng-match="user.password" required>

				</ion-item>
    
   


    
    
    
			
</ion-list>

<div class="footer-button">
    <button class="button button-dark button-block button-round button-outline"  ng-click="updateProfile()"  ng-disabled="changePasswordForm.$invalid">Save Changes</button>
</div>

</ion-content>
 </form>
</ion-modal-view>