<ion-view view-title="Editorial" hide-back-button="false">

	<ion-nav-title style="margin-left:0px;" >  
		<img class="home-logo" src="img/l5.png"  style="width:30vw; vertical-align: middle; margin: 0 auto;">
	</ion-nav-title>


<!----------------------------------------------------------------------------------------------------------------->
	<!--<div class="bar bar-subheader item-input-inset subheader-with-input" style="margin-top:10px; border:1px solid #ddd;  border-radius:5px; height:40px" id="searchbar">
  		<label class="item-input-wrapper" style="background-color:white; z-index:13"> 
    			<input type="search" placeholder="Type here" ng-model="search1" style="margin-top:10px">
  		</label>
  		<img src="img/icons/search_icon.svg">
	</div> -->
<!------------------------------------------------------------------------------------------------------------------->
	<ion-content  style="background-color:#ffffff"  id="contentsearch" style="background-image:url(img/back.jpg)"> <!--on-scroll="getScrollPosition()"-->

        <!--<ion-refresher on-refresh="doRefresh()">
        </ion-refresher>-->



<style>
.abc{
	background-color:white;
	text-align:center;
	color:black;
}
</style>

<!---------------------------------------------------------Categories ------------------------------------------------------------>
<div style="height:100%; width:100vw; background-color:white; margin-bottom:100px">
     <div ng-repeat="product in products" style="display:inline-block; width:49vw; height:60vw; margin-top:10px; border:1px solid #ddd;" ng-click="openCategory(category.id)">
		
		<div style="height:45%; background-image:url(https://www.minbazaar.com/subs/admin/{{product.image}}); background-position:center; background-repeat:no-repeat; background-size:contain">
		</div>
		<div style="height:10%;">
			{{product.product_name}}
		</div>
		<div style="height:10%;" ng-if="product.unit_data.length>1">
			&#8377; {{s.price}}
		</div>
		<div style="height:10%;" ng-if="product.unit_data.length==1">
			&#8377; {{product.unit_data[0].price}}
		</div>
		<div style="height:20%;  padding:10px 20px;" ng-show="product.unit_data.length>1">
			<select  class="abc" style="display:inline-block; width:100%; border:1px solid #ddd;" ng-init="s = product.unit_data[0]" ng-model="s" ng-options="v.weight+' '+v.unit for v in product.unit_data">
			</select>
			<!--<div ng-if="product.unit_data.lengt==1">{{product.unit_data[0].unit}}</div>-->
			
		</div>
		<div style="height:20%;  padding:10px 20px;" ng-show="product.unit_data.length==1">
			{{product.unit_data[0].weight+' '+product.unit_data[0].unit}}
			<!--<div ng-if="product.unit_data.lengt==1">{{product.unit_data[0].unit}}</div>-->			
		</div>
		<div style="height:15%">
			
			<button ng-click="addToCart(product,s.unit_id,s.price,s.unit,s.weight,s.basic_weight)"class="button button-small button-dark icon ion-ios-cart icon-left" style="width:40%; background-color:#444444">Add</button>&nbsp;
			<button class="button button-positive button-small" style="width:50%" ng-click="subscribeProducts(product.id,s.unit_id,s.unit,s.weight);">Subscribe</button>
		</div>
     </div>

</div>
<!--------------------------------------------------------------categoriess end ---------------------------------------------------->

	</ion-content>
</ion-view>
