<ion-view view-title="Editorial" hide-back-button="false">

	<ion-nav-title style="margin-left:0px;" >  
		<img class="home-logo" src="img/l5.png"  style="width:40vw; height: 10vw; vertical-align: middle; margin: 0 auto;">
		
	</ion-nav-title>


	<!-- <ion-subheader-bar class="bar bar-subheader">
          <h1>Subheader</h1>
        
    </ion-subheader-bar> -->



	<ion-content overflow-scroll="true" class="has-header"  id="contentsearch"> 

	<!--on-scroll="getScrollPosition()"-->

        <ion-refresher on-refresh="doRefresh(); $event.stopPropagation();">
	        </ion-refresher>
	<div style="10px" ng-if="data.subscription.length==0 && data.orders.length==0 && data.package.length==0"><h3>No Orders Found</h3></div>

	<!--*******************************************************subscription ******************************************************-->        
	<div ng-if="data.subscription.length>0">	<h3>{{'Subscriptions'}}</h3>
		<div class="" style="height:100%; width:100%vw;">
	     	
	     	<div  ng-repeat="orders in data.subscription" style="border: 1px solid black; border-radius: 8px; margin-top: 3%" ng-click="open_single_subscription(orders.subscription_id, orders.package_id, orders.product_id)">
					 	
					 	<div class="row" style="height:30px">
							<div class="col col-25">
								<div class="checkbox" style="padding:0px"> 
					 				<input type="checkbox" checklist-model="selected.package"  checklist-value="orders.subscription_id" ng-click="click_item_checkbox(); $event.stopPropagation();">
										
								</div>
							</div>
						<div class="col col-50 text-left">
					   		{{orders.first_name | uppercase}} {{orders.last_name | uppercase}}
					   </div>

						<div class="col col-25 text-right">
							{{orders.time_slot}}
						 </div>
						</div>

						<div class="row">
							<div class="col col-25">
							</div>
							<div class="col col-75 text-left">
								{{orders.address | uppercase}}
							</div>
						</div>
						 	<div style="width:100%; text-align:left; padding:1px; display: inline-block;">
								<button style="margin: 1px" class="button  button-positive button-clear button-outline button-icon ion-ios-telephone icon-left" ng-click="call_customer(orders.mobno); $event.stopPropagation();">Call Customer
								</button>
								
								<button class="button button-positive" style="float:right; margin: 2px;" ng-click="open_single_subscription(orders.subscription_id, orders.package_id, orders.product_id); $event.stopPropagation();">Get Details
								</button>
							</div>
	    	</div>
		</div>

	<hr>
	</div>

<!--************************************************packages**********************************************************************************-->
	<div ng-if="data.package.length>0">	<h3>{{'Packages'}}</h3>
		<div style="height:100%; width:100%vw;" class="">
	     	
	     	<div ng-repeat="orders in data.package" style="border: 1px solid black; border-radius: 8px; margin-top: 3%" ng-click="open_single_subscription(orders.subscription_id, orders.package_id, orders.product_id)">
						 		
					 			<div class="row" style="height:30px">
									<div class="col col-25">
										<div class="checkbox" style="padding:0px"> 
					 						<input type="checkbox" checklist-model="selected.package"  checklist-value="orders.subscription_id" ng-click="click_item_checkbox(); $event.stopPropagation();">
										
										</div>
									</div>
								<div class="col col-50 text-left">
							   		{{orders.first_name | uppercase}} {{orders.last_name | uppercase}}
							   	</div>
							   	
							   	<div class="col col-25 text-right">
									   		{{orders.slot_time}}
							    </div>


								</div>

								<div class="row">
									<div class="col col-25">
									</div>
									<div class="col col-75 text-left">
										{{orders.address | uppercase}}
									</div>
								</div>
							
						 	<div style="width:100%; text-align:left; padding:1px; display: inline-block;">
								<button style="margin: 1px" class="button  button-positive button-clear button-outline button-icon ion-ios-telephone icon-left" ng-click="call_customer(orders.mobno); $event.stopPropagation();">Call Customer
								</button>
								
								<button class="button button-positive" style="float:right; margin: 2px;" ng-click="open_single_subscription(orders.subscription_id, orders.package_id, orders.product_id); $event.stopPropagation();">Get Details
								</button>
							</div>
	    	</div>
		</div>
	<hr>
	</div>
		<!--**********************************************orders*********************************************************-->

		<div ng-if="data.orders.length>0">	<h3>{{'Orders'}}</h3>

			
			<div style="height:100%; width:100%vw;">
				     	<div ng-repeat="order in data.orders" style="border: 1px solid black; border-radius: 8px; height:auto;" ng-click="open_single_order(order.order_id)">

							

								<div class="row" style="height:30px">
										<div class="col col-25">
												<div class="checkbox" style="padding:0px"> 
					 								<input type="checkbox" checklist-model="selected.orders"  checklist-value="order.order_id" ng-click="click_item_checkbox(); $event.stopPropagation();">
										
												</div>
										</div>
								<div class="col col-50 text-left">
									   		{{order.first_name | uppercase}} {{order.last_name | uppercase}}
							   </div>
							   <div class="col col-25 text-right">
									   		{{order.delivery_time}}
							   </div>


								</div>					
								
								<div class="row">
									<div class="col col-25">
				
									</div>
									<div class="col col-75 text-left">
									{{order.address | uppercase}}
									</div>
								</div>
							
							<div class ="" style="width:100%; text-align:left; padding:1px; display: inline-block;">
								<button style="margin: 1px" class="button  button-positive button-clear button-outline button-icon ion-ios-telephone icon-left" ng-click="call_customer(order.mobno); $event.stopPropagation();">Call Customer
								</button>
								
								<button class="button button-positive" style="float:right; margin: 2px;" ng-click="open_single_order(order.order_id)">Get Details
								</button>
							</div>

				    	</div>

			</div>
		<hr>
		</div>
		
		<button ng-show="selected.orders.length>0 || selected.subscription.length>0 || selected.package.length>0" class="button button-block button-calm " ng-click="get_checked()">Mark as I'm On the Way</button>

	<!-- <div style="float: left; padding: 20px;" class="padding" >
	</div>
 -->
	</ion-content>
</ion-view>
