<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-light pinro-header header-shadow mynavbar" nav-transition="android">
       <ion-nav-back-button class="button-icon button-clear">
    <i>
     <img src="img/icons/icon_back.png" width="24vh">
    </i>
  </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear" menu-toggle="left">
          <i>
      <img src="img/icons/menu_icon.png" width="24px">
    </i>
        </button>
      </ion-nav-buttons>

      <!-- <ion-nav-buttons side="right">
       <button class="button button-icon button-clear" ui-sref="app.search"> 		
          <i class="ion-android-search" style="font-size:25px"></i>
          <div class="shopping-cart">
         
          </div></button>

        <button class="button button-icon button-clear" ng-click="openCartModal()">
          <i class="ion-ios-cart" style="font-size:25px"></i>
          <div class="shopping-cart">
          <span class="badge badge-assertive header-badge" style="font-size:10px; margin-left:0px; top:-10px"  ng-show="cartlength">{{cartlength}}</span>
          </div>
	</button>
	
	<!--<button class="button button-icon button-clear" ng-click="openPopover($event)">
		<i style="font-size:25px" class="ion-android-more-vertical"></i>
        </button>-->
	<!--<button class="button button-icon button-clear" ng-click="openNotificationModal()" ng-if="user.isLogin"> 
		<i style="font-size:25px" class="ion-android-notifications-none"></i>
		          <div class="shoppin-cart">
          <span class="badge badge-assertive header-badge" style="font-size:10px; margin-left:-5px; top:-10px"  ng-show="readCount">{{readCount}}</span>
          </div>
        </button>-->

    </ion-nav-buttons> -->

    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
  
   
    <ion-content>

     



      <div ng-if="user.isLogin" class="menu-headr" style="padding-left:10; height:70px; background-color:#f44e42; color:white; ">
		<div style="float:left; margin-left:25px; padding-top:15px;">
        		<img height="25" width="25" style="vertical-align:middle;" src="img/icons/icon_user_white.svg">
            		   <i style="font-size:15px">&nbsp;&nbsp;Hi! {{user.name}}</i>
		          
		</div>
      </div>

      <div ng-if="!user.isLogin" class="menu-headr" style="padding-left:10; height:70px; background-color:#f44e42; color:white; ">

		<div style="float:left; margin-left:25px; padding-top:15px;">
        		<img height="25" width="25" style="vertical-align:middle;" src="img/icons/icon_user_white.svg">
            		   <i style="font-size:15px">&nbsp;&nbsp;<button class="button button-clear" style="color:white;" ui-sref="signin" menu-close> login/signup{{user.username}}</button></i>
		          
		</div>



      </div>





      <ion-list>



     <!-- ng-if="user.isLogin"--><!--<ion-item  ng-if="user.isLogin" class="item item-dark row" style="padding:0px;">
		<button class="col button button-small button-clear" style="color:white;  height:50px;" ng-click="openProfileModal()" menu-close>  <img height="20" style="vertical-align:middle;"src="img/icons/order.png"><span style="font-size:10px">&nbsp;Orders</span></button>

<button class="col button button-small button-clear" style="height:50px; color:white; border-left: 1px solid white; border-radius:0px" ng-click="openSettingsModal()"> <img height="20" style="vertical-align:middle;"src="img/icons/setting.png"><span style="font-size:10px">&nbsp;Settings</span></button>
	</ion-item>-->





		<div ng-repeat="group in groups">
        	
          		<ion-item class="item-accordio" style="padding-left:5px" ng-if="group.items.length!=0" class="item-dark" ng-click="toggleGroup(group)" ng-class="{active: isGroupShown(group)}" >
              			
            				{{group.name}} &nbsp; <span class="icon"  ng-class="isGroupShown(group) ? 'ion-chevron-up' : 'ion-chevron-down'" style="font-size:10px; right:0px; position:absolute;"></span>
          		</ion-item>
          		<ion-item  class="item-accordion" ng-repeat="item in group.items track by $index"  ng-show="isGroupShown(group);" menu-close ng-click="goToProductCategories(item.name, item.menu_order, item.id);" style="padding-bottom:;"> 
				
            		     {{item.name}}	
          		</ion-item>

		</div>	
		<div ng-repeat="group in groups">
			       <ion-item class="item-accordio" style="padding-left:5px" ng-if="group.items.length==0" class="item-dark" ng-click="goToProductCategories(group.name, item.menu_order, group.id);"  menu-close >
              		
            				{{group.name}}
          		</ion-item>
		</div>		
        	
      </ion-list>      

  





      <ion-list>



      <!-- <ion-item class="item-accordio"  ng-if="user.isLogin" style="padding-left:5px" ng-if="group.items.length!=0" class="item-dark"  ng-class="{active: isGroupShown(group)}" >
            			Next Day Selection &nbsp; <span class="icon" style="font-size:10px; right:0px; position:absolute;"></span>
      </ion-item> -->
          		<!-- <ion-item  class="item-accordion" ng-repeat="s in nextdaysselection"  menu-close ng-click="openNextDaySelection(s.package_id,s.package_size_id,s.subscription_id)" style="padding-bottom:;"> 
            		     	{{s.package_name}} ({{s.size_name}})
          		</ion-item> -->

		


<!--
  
        <ion-item  menu-close ng-repeat="category in categories track by $index" ng-click="goToProductCategories(category.name, category.menu_order, category.id)">
        {{category.name}}
        </ion-item>
	-->


        <!--<ion-item  menu-close ui-sref="app.product-list">
        Coats &amp; Jackets
        </ion-item>
      
        <ion-item  menu-close ui-sref="app.product-list">
        Knitwear
        </ion-item>
      
        <ion-item  menu-close ui-sref="app.product-list">
        Accessories
        </ion-item>-->
     
        <!-- <ion-item style="padding-left:5px" ng-if="user.isLogin" class="item-icon-right" menu-close  ng-click="openProfileModal()">
          <img src="img/icons/order.png">
          Your Orders
        </ion-item> -->
        <!-- <ion-item style="padding-left:5px" ng-if="user.isLogin" class="item-icon-right"  menu-close ui-sref="app.mysubscriptions">
          <img src="img/icons/icon-lock-light.png">
          Your Subscriptions
        </ion-item> -->    
        <!-- <ion-item style="padding-left:5px" ng-if="user.isLogin" class="item-icon-right"  menu-close ng-click="openSettingsModal()">
          <img src="img/icons/icon-lock-light.png">
          Account Settings
        </ion-item> --> 
       <ion-item style="padding-left:5px"  class="item-icon-right"  menu-close ui-sref="app.editorial">
          <img src="img/icons/icon-lock-light.png">
           Home
        </ion-item>

        <ion-item style="padding-left:5px"  class="item-icon-right"  menu-close ui-sref="app.mysubscriptions">
          <img src="img/icons/icon-lock-light.png">
           Get Payment
        </ion-item>


        <ion-item style="padding-left:5px" ng-if="user.isLogin" class="item-icon-right" menu-close ng-click="logout()">
          <img src="img/icons/icon-lock-light.png">
          Log out
        </ion-item>
        <ion-item style="padding-left:5px" ng-if="!user.isLogin" class="item-icon-right" menu-close ui-sref="signin">
          <img src="img/icons/icon-lock-light.png">
          Login
        </ion-item>

        <!--testing-->
        <ion-item style="padding-left:5px" ng-if="!user.isLogin" class="item-icon-right" menu-close ng-click="lassan()">
          <img src="img/icons/icon-lock-light.png">
          Verification
        </ion-item>
        <!--uploadFromGallery-->
        <!-- <ion-item style="padding-left:5px" ng-if="!user.isLogin" class="item-icon-right" menu-close ng-click="lavda()">
          <img src="img/icons/icon-lock-light.png">
          add image
        </ion-item>

        <ion-item style="padding-left:5px" ng-if="!user.isLogin" class="item-icon-right" menu-close ng-click="uploadFromGallery()">
          <img src="img/icons/icon-lock-light.png">
          add image
        </ion-item> -->


		    <!--testing end-->
        
     <!--   <ion-item style="padding-left:5px"   class="item-icon-right" ng-if='user.username!=null' menu-close ng-click="openProfileModal()"> 
          <img src="img/icons/user_icon_light.png">
          Profile
        </ion-item>
        </ion-item>
        <ion-item style="padding-left:5px"  class="item-icon-right" menu-close ng-click="openSearchModal()">
          <img src="img/icons/search_icon.svg">
          Search
        </ion-item>-->

      </ion-list>

    </ion-content>
      <!-- <div class="bar bar-footer">
        <div class="button-bar bar-assertive">
            <a class="button" ng-click="openCartModal()" menu-close><img src="img/icons/cart_icon.png"></a>
            <a class="button" ng-click="openSearchModal1()" menu-close><img src="img/icons/search_icon.svg"></a>
        </div>
      </div> -->
  </ion-side-menu>
</ion-side-menus>
