
<ion-view view-title="Editorial" hide-back-button="false">

	<ion-nav-title style="margin-left:0px;" >  
		<img class="home-logo" src="img/l5.png"  style="width:30vw; vertical-align: middle; margin: 0 auto;">
	</ion-nav-title>



	<ion-content  style="background-color:#f4f4f4" id="contentsearch" class="padding has-header"> <!--on-scroll="getScrollPosition()"-->


		<div style="width:95vw; margin:0 auto;" class="list card">
		
				<div class="item item-text-wrap" style="width:auto; height:auto;" ng-repeat="item in get_bill track by $index">
			

					<div style="width: auto; display:inline-block; height: auto;">

							<div style="width:100%;	">
								<div style="height:25%; width:90%; display:inline-block; text-align:left; float:left; "><strong>{{item.first_name}} {{item.last_name}}</strong>
							</div>
				
	            	    	<div style="float:left; display:inline-block; margin:0 auto; padding:2px;">
								<span class="checkout-product-price ng-binding">{{item.address}}, {{item.apartment}}, {{item.doorcode}}, {{item.zip}}
								</span>
							</div>

							<!-- <div style="float: left; display: inline-block;">
								<button class="button button-assertive button-round button-outline" ng-click="call_cust(item.mobno)"><i class="icon ion-ios-telephone"></i></button>
							</div> -->

							<div style="float:right; margin-right:10px;"> Total Payble amount : {{item.amount}}

							</div>
							
					
						</div>
			
					</div>
				</div>
				<div style="width: 90vw">
						<button class="button button-calm button-block button-outline" ng-click="pay_money()">Mark PAID</button>
				</div>
		</div>

