<ion-view view-title="Editorial" hide-back-button="false">

	<ion-nav-title style="margin-left:0px;" >  
		<img class="home-logo" src="img/l5.png"  style="width:30vw; vertical-align: middle; margin: 0 auto;">
	</ion-nav-title>



	
	<ion-content overflow-scroll="true" class="has-header">

		<ion-list class="list">
 		   <ion-item class="item" ng-repeat="data in get_user_verification" ng-click="update_verification(data.cust_id)">
      		
      		{{data.first_name}} {{data.last_name}}


      		{{data.address[0].address}}


    		</ion-item>
		</ion-list>




	</ion-content>
</ion-view>
