<ion-view view-title="Order Status" class="payment" hide-back-button="true" hide-nav-bar="true">
	
	<ion-pane class="step3 has-header">



<div style="border:3px solid black; width:85vw; border-radius:3px; margin:0 auto; margin-top:50vh; transform:translate(0,-50%); ">
   
   <label for="zipcode">Enter Your Zip Code</label>
   <input type="text" id="zipcode" class="item-input" placeholder="Enter Zip Code" style="border:1px solid black; width:100%" ng-model="zipcheck">
	<button class="button button-block button-positive" ng-click="checkZipCode()">Submit</button>
   

</div>
		
</ion-pane>
</ion-view>
